@import "../../styles/mixins.scss";

.articles {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    margin-top: 60px;
    @include laptop {
      grid-template-columns: 1fr;
    }
    @include large-tablet {
      grid-template-columns: 1fr 1fr;
      .article{
        gap: 10px !important;
        &-title{
          font-size: 16px !important;
        }
      }
    }
    @include phone {
      grid-template-columns: 1fr;
    }
    .article {
      &-img {
        width: 250px;
        object-fit: cover;
        border-radius: 5px;
        aspect-ratio: 16 / 13;
      }
      @include large-tablet {
        flex-direction: column;
        &-img{
          width: 100%;
        }
      }
      gap: 20px;
      & > .content {
        gap: 10px !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &-title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        text-transform: capitalize;
        color: #000000;
      }
      &-date {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #555555;
      }
      &-desc {
        font-family: "Poppins";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        text-transform: capitalize;
        color: #555555;
      }
    }
  }
}
