.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-beetwen {
  justify-content: space-between;
}
.title {
  width: 100%;
  padding: 8px 40px;
  background: #004811;
  font-family: Gilroy-Bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  @media (max-width:767px) {
    font-size: 20px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
    padding-right: 10px;
    padding-left: 10px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}
