@import "../../styles/mixins.scss";
.news {
  margin-bottom: 120px;
  .title {
    margin-bottom: 60px;
  }
  .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    @include large-tablet {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    @include phone {
      grid-template-columns: 1fr ;
      grid-template-rows: repeat(auto, 1fr);
    }
  }
  .new {
    transition: all 0.3s;
    &:hover {
      transform: translateY(-10px);
    }
    .image {
      width: 100%;
      aspect-ratio: 16 / 10;
      border-radius: 5px;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }
    h2 {
      margin-top: 15px;
      max-width: 40ch;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 138.5%;
      text-transform: capitalize;
      color: #000000;
    }
  }
}
