.news {
    margin-bottom: 120px;
  .title {
    margin-bottom: 60px;
  }
  .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  .new {
      transition: all .3s;
      &:hover{
          transform: translateY(-10px);
      }
    .image {
      width: 100%;
      height: 250px;
      border-radius: 5px;
      background-size: cover;
      background-position: center;
    }
    h2 {
      margin-top: 15px;
      max-width: 40ch;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 138.5%;
      text-transform: capitalize;
      color: #000000;
    }
  }
}
