@import './styles/classes.scss'; 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "Gilroy-bold";
  src: url(./fonts/Gilroy/Gilroy-Bold.ttf);
}

body {
  margin: 0;
  font-family: "Poppins", "sans-resif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

